<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jack.mybatis.mapper.UserMapper">
    <!--int insertUser();-->
    <insert id="insertUser">insert into t_user values(null,'张三','123',23,'女','123@qq.com')</insert>

    <!--
    resultType:默认映射 字段名跟bean属性名一致
    resultMap:自定义映射 可跟bean不一样
     User getUserById();


    -->
    <!--    <select id="getUserById"-->
    <!--            resultType="User">select * from t_user where username=#{arg0} and password=#{arg1} </select>-->

    <select id="getUserByMap"
            resultType="User">select * from t_user where username=#{username} and password=#{password} </select>


    <!--getAllUser-->
    <select id="getAllUser" resultType="User">select * from t_user</select>
    <insert id="addUser">insert  into t_user values(null,#{username},#{password},#{age},#{sex},#{email})</insert>

    <select id="getUserReturnMap" resultType="map">select * from t_user where username=#{username}</select>
    <select id="getUserReturnMap2" resultType="map">select * from t_user</select>
    <select id="getCount" resultType="_int">select count(1) from t_user</select>
    <!--
    模糊查询
    select * from t_user where username like '%${mohu}%'
    -select * from t_user where username like concat('%',#{mohu},'%')
     select * from t_user where username like "%"#{mohu}"%"
    -->
    <insert id="insertUserKey" useGeneratedKeys="true" keyProperty="id">
         insert  into t_user values(null,#{username},#{password},#{age},#{sex},#{email})
    </insert>

</mapper>